* {
    padding: 0;
    margin: 0;
    font-family:'Times New Roman';
    background-color: black;
}

h1 {
    padding: 10px;
    width: 100vw;
    text-align: center;
    background-color: red;
    color: rgb(182, 174, 174);
    margin-bottom: 20px;
}

#menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20vw;
    height: 58px;
    background-color: transparent;
    color: rgb(182, 174, 174);
    font-size: 30px;
    border: transparent;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#search {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 20vw;
    height: 58px;
    background-color: transparent;
    color: rgb(182, 174, 174);
    font-size: 30px;
    border: transparent;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

#menu_page {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 40vw;
    height: 100vw;
    background-color: grey;
    color: black;
    font-size: 30px;
    border: transparent;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#menu_home {
    position: fixed;
    top: 10vw;
    left: 0px;
    width: 20vw;
    height: 58px;
    background-color: transparent;
    color: black;
    font-size: 30px;
    border: transparent;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#menu_search {
    position: fixed;
    top: 20vw;
    left: 0px;
    width: 20vw;
    height: 58px;
    background-color: transparent;
    color: black;
    font-size: 30px;
    border: transparent;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

form {
    position: relative;
    top: 0vw;
    left: 45vw;
}

#search_text {
    background-color: white;
    color: black;
}

#search_button {
    background-color: white;
    color: black;
}

button {
    background-color: white;
    color: black;
}

#card_view {
    color: gold;
}